<template>
    <name>Cafe</name>
    <banner code="home-top" number="1" />
    <banner code="home-bottom" number="1" width="630" />
    <banner code="left-column" number="2" />
    <banner code="right-column" number="4" />
    <banner code="category-top" number="1" width="740" />
    <banner code="category-bottom" number="1" width="740" />
    <block code="home.top" />
    <block code="home.bottom" />
    <block code="bottom.bar" />
    <block code="category.bottom" />
    <block code="confirm.order.top" />
    <block code="order.approved.text" />
    <block code="order.rejected.text" />
    <block code="order.pending.text" />
    <block code="top.banner" />
    <block code="top.bar" />
    <block code="top.bar.phone" />
    <block code="bottom.left" />
    <block code="bottom.right" />
    <block code="product.more.info" />
</template>
