<section id="left-column">

    <!-- Main Content Area -->
    <section id="main">

        <h1>#label('my.shopping.carts')</h1>

        #if($util.isNotEmpty($quotedCarts))
            <div class="">
                <h2>#label('quote.requested')</h2>

                <p>#label('quote.requested.text')</p>
                <table class="listado" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="non-important">#label('cart.id')</th>
                        <th>#label('created')</th>
                        <th>#label('status')</th>
                        <th class="non-important">#label('products')</th>
                        <th class="non-important">#label('total')</th>
                        <th>#label('total')</th>
                        <th>&nbsp;</th>
                    </tr>
                    #foreach($shopCart in $quotedCarts)
                        #surl('id=urlEdit' "action=shopcartdata" "idCart=$!shopCart.id")
                        <tr class="hoverable">
                            <td class="non-important">$!shopCart.id</td>
                            <td>$!util.formatDate($shopCart.createdDate, $locale.language)</td>
                            <td>#label("cart.status.${shopCart.status}")</td>
                            <td class="non-important">$!shopCart.items.size()</td>
                            <td class="non-important">$!action.formatActualCurrency($shopCart.totalOriginal)</td>
                            <td>$!action.formatActualCurrency($shopCart.total)</td>
                            <td class="links"><a href="$urlEdit">#label('see.detail')</a></td>
                        </tr>
                    #end
                </table>
            </div>
        #end
        #if($util.isNotEmpty($savedCarts))
            <div class="">
                <h2>#label('saved.carts')</h2>

                <p>#label('saved.carts.text')</p>
                <table class="listado" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="non-important">#label('cart.id')</th>
                        <th>#label('created')</th>
                        <th>#label('status')</th>
                        <th class="non-important">#label('products')</th>
                        <th>#label('total')</th>
                        <th>&nbsp;</th>
                    </tr>
                    #foreach($shopCart in $savedCarts)
                        #surl('id=urlEdit' "action=shopcartdata" "idCart=$!shopCart.id")
                        <tr class="hoverable">
                            <td class="non-important">$!shopCart.id</td>
                            <td>$!util.formatDate($shopCart.createdDate, $locale.language)</td>
                            <td>#label("cart.status.${shopCart.status}")</td>
                            <td>$!shopCart.items.size()</td>
                            <td class="non-important">$!action.formatActualCurrency($shopCart.total)</td>
                            <td class="links"><a href="$urlEdit">#label('see.detail')</a></td>
                        </tr>
                    #end
                </table>
            </div>
        #end

    </section>

    <!-- Secondary Feature Area — Useful for Sales -->
    #control('shopcart_related')
</section>

#control('aside')
