<div class="confirm-order">
    #block('confirm.order.top')

    <table class="table-items" width="100%">
        <tr>
            <th class="code">#label('shopcart.code')</th>
            <th class="name">#label('shopcart.product')</th>
            <th class="quantity">#label('shopcart.quantity')</th>
            <th class="price">#label('shopcart.unitary.price')</th>
            <th class="price">#label('shopcart.line.price')</th>
        </tr>
        #foreach($it in $shopCart.items)
            <tr class="product">
                <td class="code">$!it.code1 #if($it.beanProd2)+ $!it.code2 #end</td>
                <td class="name">$!it.name1 #if($it.beanProd2)+ $!it.name2 #end</td>
                <td class="quantity">$!it.quantity</td>
                <td class="price">$!action.formatActualCurrency($it.price)</td>
                <td class="price">$!action.formatActualCurrency($it.subtotal)</td>
            </tr>
            #if($it.fees && !$it.fees.isEmpty())
                #foreach($fee in $it.fees)
                    <tr class="fee">
                        <td>&nbsp;</td>
                        <td class="name">#label('fee') $!fee.fee.getFeeName()</td>
                        <td class="quantity">$!it.quantity</td>
                        <td class="price">$!action.formatActualCurrency($fee.getTotal($it))</td>
                        <td class="price">$!action.formatActualCurrency($math.mul($fee.getTotal($it),$it.quantity))</td>
                    </tr>
                #end
            #end
            #if($it.beanComponent)
                <tr class="complement">
                    <td>&nbsp;</td>
                    <td class="name">#label('complement') $!it.beanComponent.getProductName($locale.language)</td>
                    <td class="quantity">$!it.quantity</td>
                    <td class="price">$!action.formatActualCurrency($it.complementPrice)</td>
                    <td class="price">$!action.formatActualCurrency($math.mul($it.complementPrice,$it.quantity))</td>
                </tr>
            #end
        #end
        #foreach($promo in $scu.promotions)
            #if($promo.type=='product')
                <tr class="product">
                    <td>#label('promo') $!promo.code</td>
                    <td>$!promo.name ($!action.getProduct($promo.data).getProductName($locale.language))</td>
                    <td class="quantity">1</td>
                    <td class="price">$!action.formatActualCurrency(0)</td>
                    <td class="price">$!action.formatActualCurrency(0)</td>
                </tr>
            #end
        #end

        <tr class="subtotal products">
            <td colspan="4">#label('subtotal.products')</td>
            <td class="price">$!action.formatActualCurrency($scu.subtotalProduct)</td>
        </tr>
        #if($scu.percentInterest && $scu.percentInterest>0)
            <tr class="subtotal">
                <td colspan="4">#label('percent.interest')
                <span class="tax-detail">$!number.format('0.##',$scu.percentInterest) #label('of') $!action.formatActualCurrency($scu.totalWithoutInterest)</span></td>
                <td class="price">$!action.formatActualCurrency($scu.subtotalInterest)</td>
            </tr>
        #end
        #if($scu.subtotalFees && $scu.subtotalFees>0)
            <tr class="subtotal">
                <td colspan="4">#label('subtotal.fees')</td>
                <td class="price">$!action.formatActualCurrency($scu.subtotalFees)</td>
            </tr>
        #end
        #foreach($promo in $scu.promotions)
            #if($promo.type=='discount')
            <tr class="subtotal promotion">
                <td colspan="4" class="promo">#label('promo'): $promo.get('code') - $!promo.get('name')</td>
                <td class="price">$!action.formatActualCurrency($promo.get('value'))</td>
            </tr>
            #end
            #if($promo.type=='discount-percent')
            <tr class="subtotal promotion">
                <td colspan="4" class="promo">#label('promo'): $promo.get('code') - $!promo.get('name')</td>
                <td class="price">$!action.formatActualCurrency($promo.get('value'))</td>
            </tr>
            #end
        #end
        #if($scu.shippingNeeded)
        <tr class="subtotal shipping">
            <td colspan="4">
                #if($scu.isFreeShipping())
                    #set($promFS = $scu.getFirstPromotionByType('free-shipping'))
                    #if($promFS)
                        #label('promo'): $!promFS.code - $!promFS.name
                    #else
                        #label('free.shipping')
                    #end
                #else
                    #label('subtotal.shipping'):
                    #if($shopCart.pickInStore)
                        #label('pick.in.store')
                    #else
                        #if($shopCart.shippingMethod)
                            $!shopCart.shippingMethod.getMethodName($locale.language)
                        #end
                    #end
                #end
            </td>
            <td class="price">$!action.formatActualCurrency($scu.subtotalShipping)</td>
        </tr>
        #end
        #if($scu.insurance)
            <tr class="subtotal insurance">
                <td colspan="4">#label('subtotal.shipping.insurance')</td>
                <td class="price">$!action.formatActualCurrency($scu.insurance.insuranceValue)</td>
            </tr>
        #end
        #foreach($tax in $scu.taxes)
            <tr class="subtotal tax">
                <td colspan="4">#label('subtotal.tax') $!tax.name
                    <span class="tax-detail">( $!number.format('0.##',$math.mul($tax.percent,100))% #label('of') $!action.formatActualCurrency($tax.totax) )</span>
                <td class="price">$!action.formatActualCurrency($tax.value)</td>
            </tr>
        #end
        #if($scu.rewardsUsedPoints && $scu.rewardsUsedPoints>0)
            <tr class="subtotal">
                <td colspan="4">#label('used.rewards') $!scu.rewardsUsedPoints #label('reward.points')</td>
                <td class="price">- $!action.formatActualCurrency($scu.rewardsToUse)</td>
            </tr>
        #end
            <tr class="total">
                <td colspan="4">#label('subtotal.total')</td>
                <td class="price">$!action.formatActualCurrency($scu.total)</td>
            </tr>
    </table>
    <div class="button-bar clearfix">
        <button type="button" id="btnPayOrder"><span class="pay">#label('confirm.order')</span></button>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#btnPayOrder').click(function(){
            if ($('#formPaymentConfirm').validForm()) {
                $('#formPaymentConfirm').attr('action',"$!action.url('checkout_save_order')").attr('method','post').submit();
            } else {
                $('#contPaymentInfo').show();
            }
        });
    })
</script>