<div id="blockContent" class="compare-page clearfix">
    <div id="blockLeft">
        #parse("/WEB-INF/views/${template}/front/left_column.vm")
    </div>
    <div id="blockCenter">
        #control('breadcrumb')
        <div class="compare-table">
            #set($tableWidth = $math.div(80,$products.size()))
            #set($rowClass = $alternator.auto(['odd','even']))
            <table style="font-size: 8pt;" width="100%">
                <tr>
                    <td class="att-name name" style="width: 20%;" rowspan="3">&nbsp;</td>
                    #foreach($product in $products)
                        #set( $urlDetail = $action.urlProduct($product) )
                        <td class="att-value name" style="width:$!{tableWidth}%;"><a href="$urlDetail">$!product.getProductName($locale.language)</a></td>
                    #end
                </tr>
                <tr>
                    #foreach($product in $products)
                        #set($image = "$imageResolver.getImageForProduct($product,'/list')")
                        <td class="att-value image">
                            #set( $urlDetail = $action.urlProduct($product) )
                            #if($util.isNotEmpty($image))
                                <a href="$urlDetail"><img src="$!action.storeFile('images/products/list')/$!util.encodeUrl($image)" alt="$!pName"/></a>
                            #else
                                <a href="$urlDetail"><img src="$!action.skinFile('images/[lang]/not-available.gif')"/></a>
                            #end
                        </td>
                    #end
                </tr>
                <tr>
                    #foreach($product in $products)
                        <td class="att-value remove"><a href="$!action.url('compare')?removeId=$!{product.idProduct}">#label('remove')</a></td>
                    #end
                </tr>
                <tr class="$!rowClass">
                    <td class="att-name">#label('product.manufacturer.name')</td>
                    #foreach($product in $products)
                        <td class="att-value">$!product.manufacturer.manufacturerName</td>
                    #end
                </tr>
                <tr class="$!rowClass">
                    <td class="att-name">#label('product.customer.rating')</td>
                    #foreach($product in $products)
                        <td class="att-value">#control('review_stars_small' $!product.ratingBy)</td>
                    #end
                </tr>
                #if($action.canShowPrices)
                <tr class="$!rowClass">
                    <td class="att-name">#label('our.price')</td>
                    #foreach($product in $products)
                        <td class="att-value">$!action.formatActualCurrency($product.getFinalPrice($frontUserLevel,1))</td>
                    #end
                </tr>
                #end
                #foreach($att in $attributes)
                    <tr class="$!rowClass">
                        <td class="att-name">$!att.getAttributeName($locale.language)</td>
                        #foreach($product in $products)
                            <td class="att-value">$!product.getProperty("att_$!{att.id}")</td>
                        #end
                    </tr>
                #end
                <tr>
                    <td class="att-name link-detail">&nbsp;</td>
                    #foreach($product in $products)
                        <td class="att-value link-detail">#linklabel('product.detail', $!action.urlProduct($product))</td>
                    #end
                </tr>
            </table>
            <div class="back-link">
                #linklabel('back.to.listing', $!action.url('compareBack'))
            </div>
        </div>
    </div>
</div>