<div id="blockContent" class="static-page clearfix">
    <div id="blockLeft">
        #parse("/WEB-INF/views/${template}/front/left_column.vm")
    </div>
    <div id="blockCenter">
        #if($staticText)
            <h1>$!staticText.getLanguage($locale.language,$defaultLanguage).title</h1>
            <div class="static-content">$!staticText.getLanguage($locale.language,$defaultLanguage).value</div>
        #end
        #if(($code=='Contact-Us' || $staticText.code=='contact.us') && $action.getStoreProperty('mail.contact.us','')!='')
            #parse("/WEB-INF/views/front/contact_us.vm")
        #end
        #if($util.fileExist("/WEB-INF/views/${template}/front/${code}.vm"))
            #parse("/WEB-INF/views/${template}/front/${code}.vm")
        #end
        #if(${code}=='news') #control('news') #end
    </div>
</div>