<template>
    <name>EElighting</name>
    <banner code="home-top" number="1" width="586"/>
    <banner code="home-central" number="4" width="142"/>
    <banner code="home-bottom" number="2" width="290"/>
    <banner code="left-column" number="4" />
    <banner code="right-column" number="4" />
    <banner code="category-top" number="1" width="586" />
    <banner code="category-bottom" number="1" width="586" />
    <block code="copyright" />
    <block code="home.top" />
    <block code="home.bottom" />
    <block code="bottom.bar" />
    <block code="category.bottom" />
    <block code="confirm.order.top" />
    <block code="order.approved.text" />
    <block code="order.rejected.text" />
    <block code="order.pending.text" />
    <block code="top.banner" />
    <block code="top.right" />
</template>