#set($priceMap = $userSession.getPriceMap() )
#set($promotions = $priceMap.get('promotions'))

<div id="blockContent" class="shopcart-page clearfix">
    <div id="blockCenter">
        #control('shopcart_alerts')
        #actionMessages()
        #if($util.isNotEmpty($userSession.items))
            <h1>#label('my.shopping.cart')</h1>
            #control('shopcart_request_cancel')
            #control('shopcart_items')
            #control('shopcart_coupons')
            #control('shopcart_actions')
        #else
            #actionErrors()
            <div class="info">
                <h2>#label('shopping.cart.empty')</h2>
                <p>#label('shopping.cart.empty.text')</p>
            </div>
        #end

        <div style="clear:both;"></div>
        #control('shopcart_related' $!math.toInteger($!action.getStoreProperty('shopcart.related.items', '9')))
    </div>
</div>