$!{action.mailGlobalTop}

<p><br/></p>

<h2>$!{action.getText('mail.how.reset.your.password')}</h2>
<p>$!{action.getText('admin.user')}: $!{user.userId}</p>
<p>$!{action.getText('mail.to.reset.password.click')}</p>
<p>$!{user.resetPasswordLink}</p>
