<div id="blockSearch" >
    <form id="formSearch" action="$!action.url('search')" method="post">
        <div class="search-wraper clearfix">
            <img src="$!action.skinFile('images/[lang]/search.gif')" alt="Shopcart"/>
            <input type="text" id="querySearch" name="query" value="$!esc.html($query)" class="required"/>
            <a class="search-button" href="#" onclick="if($('#formSearch').validForm()) $('#formSearch').submit(); else return false;">#label('search.button')</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $('#formSearch').submit(function(){
            if ($('#formSearch').validForm()) {
                $('#formSearch').attr('action',"$!{action.url('search')}?q="+$('#querySearch').val());
                return true;
            }
            return false;
        });
        #if('Y'==$action.getStoreProperty('search.autocomplete','N'))
            $("input#querySearch").autocomplete({source:"$!action.url('quicksearch')",html:true,
                select: function(event, ui) {
                    $('#querySearch').val(ui.item.value);
                    $('#formSearch').submit();
                }
            });
        #end
    })
</script>