<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:g="http://base.google.com/ns/1.0">
    <title>$!{siteName} Catalog</title>
    <link rel="self" href="$!{siteUrl}/fullcatalog.xml"/>
    <updated>$!updated</updated>
    <author>
        <name>$!siteName</name>
    </author>
    <id>tag:$!{siteName},${today}:/fullcatalog</id>
    #foreach($map in $products)
        #if($map.containsKey('name'))
        <entry>
            <title>$!esc.xml($map.get('name'))</title>
            #if($map.containsKey('brand'))<g:brand>$!esc.xml($map.get('brand'))</g:brand>#end
            <g:condition>new</g:condition>
            #if($map.containsKey('desc'))<summary>$!esc.xml($map.get('desc'))</summary>#end
            <id>$!map.get('id')</id>
            #if($map.containsKey('imglink'))<g:image_link>$!map.get('imglink')</g:image_link>#end
            <link href="$!map.get('link')"/>
            <g:mpn>$!esc.xml($map.get('mpn'))</g:mpn>
            <g:price>$!map.get('price')</g:price>
            #if($map.containsKey('categories'))<g:product_type>$!esc.xml($map.get('categories'))</g:product_type>#end
            <g:quantity>$!map.get('stock')</g:quantity>
            #if($map.containsKey('weight'))<g:weight>$!map.get('weight')</g:weight>#end
            #if($map.containsKey('length'))<g:length>$!map.get('length')</g:length>#end
            #if($map.containsKey('width'))<g:width>$!map.get('width')</g:width>#end
            #if($map.containsKey('height'))<g:width>$!map.get('height')</g:width>#end
        </entry>
        #end
    #end
</feed>
