    #if($util.isNotEmpty($product.imageSmall))
        <div class="image"><img src="$!{urlSite}/$!{storeCode}/images/products/list/$!util.encodeUrl($product.imageSmall)" /></div>
    #else
        <div class="image"><img src="$!{urlSite}/$!{storeCode}/skins/$!{skin}/images/$!{lang}/not-available.gif" /></div>
    #end
    <div class="data">
    <div class="name">$!esc.xml($product.name)</div>
    <div class="code">$!dao.getText('part.number', $lang) $!product.code</div>
    <div class="manufacturer">$!esc.xml($product.manufacturer)</div>
    <div class="desc">$!esc.xml($product.description)</div>
    </div>
    <div class="price" style="">$!currency.formatValue($product.price)</div>

