#set($pName = "$!p.getProductName($locale.language)")
#set($pDesc = "$!p.getLanguage($locale.language,$defaultLanguage).description")
#set($image = "$imageResolver.getImageForProduct($p,'')")
#set( $price = $p.getFinalPrice($frontUserLevel,1))

#set($urlDetail = $action.urlProduct($p))
<div class="product #foreach($lab in $action.getProductLabels($p)) label-$!{lab.code} #end #if($p.productType=='digital') digital-book #else paper-book #end">
    <span class="label1"></span>
    <span class="label2"></span>
    #if($util.isNotEmpty($image))
        <div class="image"><a href="$urlDetail"><img src="$!action.storeFile('images/products')/$!util.encodeUrl($image)" alt="$!pName" /></a></div>
    #else
        <div class="image"><a href="$urlDetail"><img src="$!util.findCacheImage('notavailable',$action.storeFile('images/products/not-available'),$action.skinFile('images/[lang]/not-available'))"/></a></div>
    #end
    <div class="name"><a href="$urlDetail">$!pName</a></div>
    <div class="manufacturer"><a href="$urlDetail">$!p.manufacturer.manufacturerName</a></div>
    <div class="desc"><a href="$urlDetail">$!util.left($pDesc,120)</a></div>
    #if($action.canShowPrices)
        #if($action.canShowPrices)
            <div class="price" style="">$!action.formatActualCurrency($price)</div>
        #end
        <div>
            #addToCart($p)
        </div>
    #end
</div>

