<div id="blockTop" class="clearfix">
    #control('logo')

    <div id="blockTopBar" class="clearfix">
        #control('search')
        #control('menu_minimun')
        #control('menu_languages')
    </div>
</div>

<div id="blockTopMenu" class="clearfix">
    #set( $treemenu = $action.getTreeMenu('TopBar') )
    #control('menu_horizontal')
    #set( $treemenu = $util.null )
    #control('top_shopcart')
</div>


