<script type="text/javascript">
    $(function() {
        $('#shippingSameBilling').change(function() {
            if ($(this).is(':checked')) $('#shippingData').hide();
            else $('#shippingData').show();
        }).trigger('change');
        $('#formRegister').submit(function() {
            return $(this).validForm();
        });
        countryState('billingAdd_idCountry', 'billingState');
        countryState('shippingAdd_idCountry', 'shippingState');
    });
</script>
<div id="blockContent" class="register-page">

    <div id="centerColumn">
        <div id="blockRegisterAnonymous">
            #surl("action=paystepanonymous" 'id=urlFormRegister')
            <form action="$urlFormRegister" id="formRegister" method="post">
                <div id="registerData" class="block">
                    <h1>#label('anonymous.checkout.page.title')</h1>
                    <div id="userData" class="form">
                        <h2>#label('anonymous.checkout.subtitle.personal')</h2>
                        <p>#label('anonymous.checkout.text.personal')</p>
                        <label>
                            <span class="label">#label('salutation')</span>
                            #sselect('name=billingAdd.title' 'cssClass=field' "list=#{'Mr.':'Mr.','Miss':'Miss','Mrs.':'Mrs.','Ms.':'Ms.'}" )
                        </label>
                        <label>
                            <span class="label required">#label('firstname')</span>
                            #stextfield('name=billingAdd.firstname' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.firstname')
                        </label>
                        <label>
                            <span class="label required">#label('lastname')</span>
                            #stextfield('name=billingAdd.lastname' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.lastname')
                        </label>
                        <label>
                            <span class="label required">#label('email.address')</span>
                            #stextfield('name=email' 'cssClass=field required email string-200' 'cssErrorClass=invalid')
                            #fieldError('email')
                        </label>
                    </div>

                    #set($countryList = $action.getCountries(true))
                    <div id="billingData" class="form">
                        <h2>#label('anonymous.checkout.subtitle.billing-add')</h2>
                        <p>#label('anonymous.checkout.text.billing-add')</p>
                        <label>
                            <span class="label">#label('company')</span>
                            #stextfield('name=billingAdd.company' 'cssClass=field string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.company')
                        </label>
                        <label>
                            <span class="label required">#label('address.1')</span>
                            #stextfield('name=billingAdd.address' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.address')
                        </label>
                        <label>
                            <span class="label">#label('address.2')</span>
                            #stextfield('name=billingAdd.address2' 'cssClass=field string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.address2')
                        </label>
                        <label>
                            <span class="label required">#label('city')</span>
                            #stextfield('name=billingAdd.city' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.city')
                        </label>
                        #if($countryList && $countryList.size()>1)
                            <label>
                                <span class="label required">#label('country')</span>
                                <select name="billingAdd.idCountry" id="billingAdd_idCountry" class="field required string-200">
                                    #foreach($c in $countryList)
                                        <option value="$!c.code" #if($c.code==$billingAdd.idCountry) selected="selected" #end>$!c.name</option>  #end
                                </select>
                                #fieldError('billingAdd.idCountry')
                            </label>
                        #end
                        #if($countryList && $countryList.size()==1)
                            <input type="hidden" id="billingAdd_idCountry" name="billingAdd.idCountry" value="$countryList.get(0).code">
                        #end
                        <label>
                            <span class="label required">#label('state')</span>
                            #sselect('id=billingState' 'name=billingState' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingState')
                        </label>
                        <label>
                            <span class="label required">#label('postal.code')</span>
                            #stextfield('name=billingAdd.zipCode' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.zipCode')
                        </label>
                        <label>
                            <span class="label required">#label('phone')</span>
                            #stextfield('name=billingAdd.phone' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('billingAdd.phone')
                        </label>

                        <label>
                            #label('register.page.shipping.same.billing')
                            <input type="checkbox" value="Y" id="shippingSameBilling" name="shippingSameBilling" checked="checked">
                        </label>
                    </div>

                    <div id="shippingData" class="form">
                        <h2>#label('anonymous.checkout.subtitle.shipping-add')</h2>
                        <p>#label('anonymous.checkout.text.shipping-add')</p>
                        <label>
                            <span class="label">#label('salutation')</span>
                            #sselect('name=shippingAdd.title' 'cssClass=field' "list=#{'Mr.':'Mr.','Miss':'Miss','Mrs.':'Mrs.','Ms.':'Ms.'}" )
                        </label>
                        <label>
                            <span class="label required">#label('firstname')</span>
                            #stextfield('name=shippingAdd.firstname' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.firstname')
                        </label>
                        <label>
                            <span class="label required">#label('lastname')</span>
                            #stextfield('name=shippingAdd.lastname' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.lastname')
                        </label>
                        <label>
                            <span class="label">#label('company')</span>
                            #stextfield('name=shippingAdd.company' 'cssClass=field string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.company')
                        </label>
                        <label>
                            <span class="label required">#label('address.1')</span>
                            #stextfield('name=shippingAdd.address' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.address')
                        </label>
                        <label>
                            <span class="label">#label('address.2')</span>
                            #stextfield('name=shippingAdd.address2' 'cssClass=field string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.address2')
                        </label>
                        <label>
                            <span class="label required">#label('city')</span>
                            #stextfield('name=shippingAdd.city' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.city')
                        </label>
                        #if($countryList && $countryList.size()>1)
                            <label>
                                <span class="label required">#label('country')</span>
                                <select name="shippingAdd.idCountry" id="shippingAdd_idCountry" class="field required string-200">
                                    #foreach($c in $countryList)
                                        <option value="$!c.code" #if($c.code==$shippingAdd.idCountry) selected="selected" #end>$!c.name</option>  #end
                                </select>
                                #fieldError('shippingAdd.idCountry')
                            </label>
                        #end
                        #if($countryList && $countryList.size()==1)
                            <input type="hidden" id="shippingAdd_idCountry" name="shippingAdd.idCountry" value="$countryList.get(0).code">
                        #end
                        <label>
                            <span class="label required">#label('state')</span>
                            #sselect('id=shippingState' 'name=shippingState' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingState')
                        </label>
                        <label>
                            <span class="label required">#label('postal.code')</span>
                            #stextfield('name=shippingAdd.zipCode' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.zipCode')
                        </label>
                        <label>
                            <span class="label required">#label('phone')</span>
                            #stextfield('name=shippingAdd.phone' 'cssClass=field required string-200' 'cssErrorClass=invalid')
                            #fieldError('shippingAdd.phone')
                        </label>
                    </div>

                    <div class="button-bar">
                        <button type="submit" onclick="$('.validation-error').hide();"><span class="ok">#label('submit.registration')</span></button>
                    </div>
                    <div>
                        #label('anonymous.checkout.bottom.text')
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
