<link rel="stylesheet" type="text/css" href="/struts/css/jquery.jscrollpane.css"/>
<script type="text/javascript" src="/struts/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/struts/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('a.level0').live('click', function(){
            var ul = $(this).parent().parent().children('ul');
            if (ul && !ul.is(':visible')) {
                $('ul.level0').hide();
                ul.show();
                if ($(window).scrollTop()>190) jQuery.scrollTo($(this).parent(), 800);
            }
            return (ul.find('li').size()==0);
        });
        $('#linkMenuManufacturer').live('click', function(){
            $('.filterManufacturers').toggle();
        });
    });
</script>