<div id="blockContent" class="clearfix">
    <div id="leftColumn">
        #parse("/WEB-INF/views/${template}/front/left_column.vm")
    </div>
    <div id="centerColumn">
        <div class="block">
            #if($staticText)
                <h1>$!staticText.getLanguage($locale.language,$defaultLanguage).title</h1>
                <div>$!staticText.getLanguage($locale.language,$defaultLanguage).value</div>
            #end
            #if($code=='Contact-Us' && $action.getStoreProperty('mail.contact.us','')!='')
                #parse("/WEB-INF/views/front/contact_us.vm")
            #end
        </div>
    </div>
</div>