#set($categoryHierarchyId = $action.getCategoryHierarchyId($category.idCategory))
#set($_treeCategories = $action.sortCategories($action.getSubCategories($util.null, true)))
#if ($_treeCategories && !$_treeCategories.isEmpty())
<div class="left-menu categories">
    <h2>#label('shop.by.categories')</h2>
    <ul>
        #foreach($cat in $_treeCategories)
            #set($openThisCat = $util.isEmpty($categoryHierarchyId) && $velocityCount<1)
            #set($opened = ($categoryHierarchyId && $util.contains($categoryHierarchyId, $cat.idCategory)))
            #if($openThisCat) #set($open_first = true) #set($openThisCat = false) #else #set($open_first = false) #end
            <li class="clearfix hoverable $!{cat.level}">
                <div class="clearfix level$!{cat.level} category${cat.idCategory} #if($cat.idCategory==$category.idCategory) selected #end">
                    <a data="$!cat.idcategory" class="icon-tree level$!{cat.level} #if($util.isNotEmpty($cat.children)) has-children #end #if($opened) expanded #end #if($open_first) expanded-first  #end"></a>
                    <a href="$action.urlCategory($cat)" class="label level$!{cat.level} #if($cat.idCategory==$category.idCategory) selected #end">
                        <span>$!cat.name #if($numProducts.get($cat.idCategory))<span class="num-products">($numProducts.get($cat.idCategory))</span>#end</span>
                    </a>
                </div>
                #if($cat.children && !$cat.children.isEmpty())
                    <ul class="clearfix level$!{cat.level} #if($opened) expanded #end #if($open_first) expanded-first  #end" level="$!{cat.level}">
                        #foreach($cat in $cat.children)
                            #set($opened = ($categoryHierarchyId && $util.contains($categoryHierarchyId, $cat.idCategory)))
                            #if($openThisCat) #set($open_first = true) #set($openThisCat = false) #else #set($open_first = false) #end
                            <li class="clearfix hoverable $!{cat.level}">
                                <div class="clearfix level$!{cat.level} category${cat.idCategory} #if($cat.idCategory==$category.idCategory) selected #end">
                                    <a class="icon-tree level$!{cat.level} #if($util.isNotEmpty($cat.children)) has-children #end #if($opened) expanded #end #if($open_first) expanded-first  #end"></a>
                                    <a href="$action.urlCategory($cat)" class="label level$!{cat.level} #if($cat.idCategory==$category.idCategory) selected #end">
                                        <span>$!cat.name #if($numProducts.get($cat.idCategory))<span class="num-products">($numProducts.get($cat.idCategory))</span>#end</span>
                                    </a>
                                </div>
                                #if($cat.children && !$cat.children.isEmpty())
                                    <ul class="clearfix level$!{cat.level} #if($opened) expanded #else  use-ajax unloaded #end #if($open_first) expanded-first  #end" data="$!cat.idCategory">
                                        #if($opened)
                                            #foreach($cat in $cat.children)
                                                #control('category_tree')
                                            #end
                                        #end
                                    </ul>
                                #end
                            </li>
                        #end
                    </ul>
                #end
            </li>
        #end
    </ul>
</div>
#end
#set($_treeCategories = $util.null)
<script type="text/javascript">
    $(function(){
        $('div.expandable').click(function(){
            var ul = $(this).parent().children('ul');
            if (ul) {
                if ($(this).hasClass('collapsed')) {
                    $(this).removeClass('collapsed');
                    ul.show();
                } else {
                    $(this).addClass('collapsed');
                    ul.hide();
                }
            }
        });
    });
</script>