<template>
    <name>Apple</name>
    <banner code="home-top" number="1" width="840"/>
    <banner code="home-bottom" number="3" width="250" />
    <banner code="left-column" number="2" width="365" />
    <banner code="category-top" number="1" width="798" />
    <block code="home.top" />
    <block code="home.bottom" />
    <block code="bottom.bar" />
    <block code="category.bottom" />
    <block code="confirm.order.top" />
    <block code="order.approved.text" />
    <block code="order.rejected.text" />
    <block code="order.pending.text" />
    <block code="top.banner" />
</template>