<link rel="stylesheet" type="text/css" href="/struts/css/jquery.jscrollpane.css"/>
<script type="text/javascript" src="/struts/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/struts/js/jquery.jscrollpane.min.js"></script>