<div id="blockContent" class="home-page clearfix">
    <div id="blockLeft">
        #parse("/WEB-INF/views/${template}/front/left_column.vm")
    </div>
    <div id="blockCenter">
        #banners('home-top')
        <div id="blockCenterContent">
            #banners('home-center')
            #banners('home-bottom')

            <div id="homeTopBlock">#block('home.top')</div>

            <div id="homeProducts" class="clearfix">
                #set($lista = $action.getRandomProducts('label:hot',$!math.toInteger($!action.getStoreProperty('home.hot.items', '12'))))
                <div id="homeProductsLeft">
                <ul class="clearfix">
                #foreach($p in $lista)
                    <li>#parse("/WEB-INF/views/${template}/front/home_product.vm")</li>
                #end
                </ul>
                </div>
                <div id="homeProductsRight">
                    #set($listaSpecial = $action.getRandomProducts('label:special', 14))
                    #control('product_list' $util.map.add('_prodList',$listaSpecial).add('_prodTemplate','home_product_special'))
                </div>
            </div>

            <div id="homeBottomBlock">#block('home.bottom')</div>
        </div>
    </div>
</div>