<div class="login-form">
    <h1>#label('login.page.title')</h1>
    #surl("action=login" 'id=urlFormLogin')
    <form action="$!action.url('login')" id="formLogin" method="post">
        #shidden('name=redirectUrl')
        #actionErrors("$!action.getText('error.login.title')")
        <div class="login-form-data form">
            <h2>#label('login.page.subtitle.id-password')</h2>
            <p>#label('login.page.text.id-password')</p>
            <label>
                #if($action.getStoreProperty('use.email.as.login','Y')=='Y')
                    <span class="label">#label('email.address')</span>
                #else
                    <span class="label">#label('user.id')</span>
                #end
                #stextfield('id=loginemail' 'name=loginemail' 'cssClass=field required email string-200' 'cssErrorClass=invalid')
            </label>
            <label>
                <span class="label">#label('password')</span>
                #spassword('name=loginpassword' 'cssClass=field required string-150' 'cssErrorClass=invalid')
            </label>
            <label>
                <span>#label('remember.me')</span>
                #scheckbox('name=rememberMe' )
            </label>

            <div class="button-bar">
                <button id="submitLogin" type="submit"><span class="ok">#label('submit.login')</span></button>
            </div>
        </div>
    </form>
    <div id="forgetPasswordRes" class="hidden"></div>
    <form id="sendPassword">
        <div id="forgetPassword" class="login-form-forget form">
            <h2>#label('forget.password')</h2>
            <p>#label('login.forgetpassword.text')</p>
            <label>
                <span class="label">#label('forgetpwd.email.address')</span>
                #stextfield('id=emailpassword'  'cssClass=field required email string-200' 'cssErrorClass=invalid')
                #fieldError('emailpassword')
            </label>

            <div class="button-bar">
                <button type="submit"><span class="ok">#label('send.password')</span></button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        $('#sendPassword').submit(function() {
            $('.validation-error').hide();
            var err = $('#emailpassword').validField();
            if (err == '') {
                var email = $('#emailpassword').val();
                $('#forgetPassword').hide();
                $('#forgetPasswordRes').loading("$!action.getText('msg.sending.password')", "$!action.getText('msg.sending.email.with.your.account.info')").show();
                jQuery.getJSON("$!action.url('sendpassword')", {email:email}, function(data) {
                    if (data.error != null && data.error != '')
                        $('#forgetPasswordRes').error("$!action.getText('error.sending.password')", data.error + '. <a href="#" onclick="$(\'#forgetPasswordRes\').hide();$(\'#forgetPassword\').show(); return false;">$!action.getText('click.to.hide.message')</a>').show();
                    else
                        $('#forgetPasswordRes').info("$!action.getText('password.sent')", "$!action.getText('account.info.sent.to')" + data.email + '. <a href="#" onclick="$(\'#forgetPasswordRes\').hide();$(\'#forgetPassword\').show(); return false;">$!action.getText('click.to.hide.message')</a>').show();
                });
            }
            return false;
        });
    });
</script>