#if($list.size($action.currencyList)>1)
<div class="menu-currencies clearfix block template-block">
    <h2><span class="currency-title">#label('currency.menu')</span><span class="currency-selected">#label("currency.$!{action.actualCurrency.code}")</span></h2>
    <ul class="clearfix">
        #foreach($curr in $action.currencyList)
            #if($action.actualCurrency!=$curr)
                <li class="${curr.code} hoverable">#linklabel("currency.${curr.code}" $!action.url('home','',$util.toMap(['set_curr',${curr.code}])))</li>
            #else
                <li class="selected ${curr.code} hoverable">#label("currency.$!curr.code")</li>
            #end
        #end
    </ul>
</div>
#end