#set( $treemenu = $action.getTreeMenu('BottomBar') )
<div class="menu-bottom template-block">
    <ul class="clearfix">
        #foreach($mIt in $treemenu.children() )
            #set( $m = $mIt.userObject )
            <li class="$!m.cssClass level0">
                <a #if($util.isNotEmpty($m.url) && $m.url!='#') href="$!m.url" #end  class="level0">$!m.getLabel($locale.language)</a>
                #if($m.menuContent)
                    <ul class="clearfix">
                        <li class="level1">$!m.menuContent.getLanguage($locale.language,$defaultLanguage).value</li>
                    </ul>
                #else
                    #if($m.showSubcategories)
                        #set($subcats = $action.getSubCategories($m.linkCategory, true))
                        #if($subcats && $subcats.size()>0)
                            <ul class="clearfix">
                                #foreach($subcat in $subcats)
                                    <li class="level1"><a class="level1" href="$!action.urlCategory($subcat)">$!subcat.name</a></li>
                                #end
                            </ul>
                        #end
                    #else
                        #if($mIt.children().hasMoreElements())
                            <ul class="clearfix">
                                #foreach($sIt in $mIt.children())
                                    #set( $s = $sIt.userObject )
                                    <li class="level1"><a class="level1" href="$!s.url">$!s.getLabel($locale.language)</a></li>
                                #end
                            </ul>
                        #end
                    #end
                #end
            </li>
        #end
    </ul>
</div>
#set( $treemenu = $util.null )