#set($menuSelected='customers')
#parse('/WEB-INF/views/admin/page_top.vm')
<style type="text/css">
    ul.tab-top {list-style: none; margin: 0;padding: 0;}
    ul.tab-top li {border: 1px solid #999;float: left;background-color: #eeeeee;z-index: 9999;margin-bottom: -1px;margin-right: 4px;text-align: center;}
    ul.tab-top li.selected {border-bottom-color: #f8f8f8 !important;background-color: #f8f8f8;}
    ul.tab-top li a {padding: 6px 12px;display: block;font-size: 14pt;font-weight: bold;}
    ul.tab-top li a span {font-size: 9pt;font-weight: lighter;}
</style>

<div style="width: 900px;">

#if($campaign)
<div style="margin-top: 20px;" class="clearfix">
    <div style="float: left;">
        <div style="font-size: 14pt;font-weight: bold;">CAMPAIGN ID $!{campaign.id}</div>
        <div>#label('admin.subject'): $!campaign.subject</div>
        <div>#label('sent.to') $mails.get('total') #label('subscribers'). $!util.formatDate($campaign.dateToSend)</div>
    </div>
    <ul style="float: right;margin-top: 12px;" class="tab-top clearfix">
        <li #if($!filter=='opened' || $!filter=='clicked') #else class="selected" #end ><a href="#" class="link-members" rel="">#label('all.recipients')<br/>$mails.get('total')</a></li>
        <li #if($!filter=='opened') class="selected" #end ><a href="#" class="link-members" rel="opened">#label('opened.mails')<br/>$mails.get('opened')</a></li>
        <li #if($!filter=='clicked') class="selected" #end ><a href="#" class="link-members" rel="clicked">#label('clicked.mails')<br/>$mails.get('clicked')</a></li>
    </ul>
</div>
<form id="formMembers" action="$!action.url('campaignmembers','admin')" method="post">
    <input type="hidden" name="idCampaign" value="$!campaign.id" />
    <input type="hidden" id="filter" name="filter" value="$!filter" />
<div style="border-top: 1px solid #999;clear: both;z-index: 123;" class="listado">
    #if($util.isNotEmpty($members.listado))
        #set($nav=$members)
        #parse('/WEB-INF/views/admin/navigator.vm')
    <table class="listado" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <th>#label('admin.name')</th>
            <th>#label('admin.email')</th>
            <th style="text-align: center;">#label('admin.first.opened')</th>
            <th style="text-align: center;">#label('admin.first.clicked')</th>
            <th style="text-align: center;">#label('admin.clicks')</th>
        </tr>
        #foreach($m in $members.listado)
            <tr>
                <td>$!m.getProperty('user').fullName</td>
                <td>$!m.getProperty('user').email</td>
                <td style="text-align: center;">$!date.format('yyyy-MM-dd HH:mm', $m.opened)</td>
                <td style="text-align: center;">$!date.format('yyyy-MM-dd HH:mm', $m.clicked)</td>
                <td style="text-align: center;">
                    #if($!m.getProperty('clicks')>0)
                        $!m.getProperty('clicks') <a href="#" class="view-clicks" style="font-size: 8pt;" rel="$!m.idUser">(ver links)</a>
                    #end
                </td>
            </tr>
            <tr>
                <td colspan="5" style="display: none;padding: 0; border-bottom: 1px solid #333;background-color: white;" id="clicks_${m.idUser}"></td>
            </tr>
        #end
    </table>
    #end
</div>
</form>
<form action="$!action.url('campaignedit','admin')" method="get">
    <input type="hidden" name="idCampaign" value="$!campaign.id" />
    <div class="button-bar" style="margin-top: 8px;">
        <button type="submit"><span>#label('admin.back')</span></button>
    </div>
</form>
</div>
#end

<script type="text/javascript">
    $(function(){
        $('.link-members').click(function(){
            $('#filter').val($(this).attr('rel'));
            $('#formMembers').submit();
            return false;
        });
        $('.view-clicks').click(function(){
            var idUser = $(this).attr('rel');
            $('#clicks_'+idUser).loading('','').show();
            $('#clicks_'+idUser).load("$!action.url('campaignmemberclicks','admin')",{idCampaign:$!campaign.id, idUser: idUser});
            return false;
        });
    })
</script>
#parse('/WEB-INF/views/admin/page_bot.vm')