#set($menuSelected='customers')
#parse('/WEB-INF/views/admin/page_top.vm')
<h1>#label('admin.customer.group.list')</h1>
<div class="listado">
    #surl('id=urlForm' "action=customergrouplist")
    <form action="$urlForm" method="post" class="validable">
    #formErrors()
    #if($util.isNotEmpty($userGroups))
    <table class="listado" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <th style="text-align:center;width:1%;"><a href="#" onclick="$(this).toggleClass('selected');$('.selecteds').attr('checked',$(this).hasClass('selected'));return false;"><img src="/struts/css/images/bin_closed.png" alt="Del" style="border:0"/></a></th>
            <th>#label('admin.id')</th>
            <th>#label('admin.group')</th>
            <th>&nbsp;</th>
        </tr>
        #foreach($g in $userGroups)
            <tr>
                <td style="text-align:center;"><input type="checkbox" class="selecteds" name="selecteds" value="$!g.idGroup"/></td>
                <td>$!g.idGroup</td>
                <td>$!g.groupName</td>
                <td class="link-bar"><a href="$!action.url('customergroupedit','admin', $util.map.add('idUserGroup', $!g.idGroup.toString()))"><span class="edit">#label('admin.modify')</span></a></td>
            </tr>
        #end
    </table>
    #else
        <div class="info">
            <h2>#label('admin.customer.groups.not.found')</h2>
            <p>#label('admin.customer.groups.not.found.text')</p>
        </div>
    #end
    <div class="button-bar">
        <button type="submit"><span class="del">#label('admin.remove.selected')</span></button>

        <button type="button" href="$!action.url('customergroupedit','admin')"><span class="add">#label('admin.customer.group.new')</span></button>
    </div>
</form>
</div>
#parse('/WEB-INF/views/admin/page_bot.vm')
