<div class="formulario">
    <form id="formPriceRange">
        <input type="hidden" name="idCategory" value="$!category.idCategory" />
        <table class="formulario" cellpadding="0" cellspacing="0">
            <tr>
                <th>#label('admin.enable.price.filter'):</th>
                <td>
                    #parentValue($category $parent 'filterByPrice' 'string-char' '')
                    #sradio('name=category.filterByPrice' "list=#{'':'Inherited', 'Y':'Yes', 'N':'No'}" )
                </td>
            </tr>
        </table>
        <h3>#label('admin.category.price.ranges')</h3>
        <table class="listado grid" cellpadding="0" cellspacing="0">
            <tr>
                <th>#label('admin.min')</th>
                <th>#label('admin.max')</th>
            </tr>
            #foreach($pr in $category.getPriceRange())
            <tr>
                <td><input type="text" name="minPrice" value="$!util.formatNumber($pr.get('min'),'0.00')" class="field decimal"></td>
                <td><input type="text" name="maxPrice" value="$!util.formatNumber($pr.get('max'),'0.00')" class="field decimal"></td>
            </tr>
            #end
            #foreach($pr in [1..5])
            <tr>
                <td><input type="text" name="minPrice" value="" class="field decimal"></td>
                <td><input type="text" name="maxPrice" value="" class="field decimal"></td>
            </tr>
            #end
        </table>
        <div id="jobproductsState" class="box" style="display:none;">
            <div id="taskproductsMsg" style="margin:4px;"></div>
            <div class="progressbar" id="taskproductsPercent"></div>
        </div>
        <div class="button-bar">
            <button type="button" id="btnSavePR"><span class="ok">#label('admin.update')</span></button>
            <button type="button" id="btnUpdProductPrices"><span>#label('admin.update.product.prices')</span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $('#btnSavePR').click(function(){
            var data = $('#formPriceRange').serialize();
            $('#categoryPriceRange').loading("$!action.getText('admin.adding.parent.category')", "$!action.getText('admin.please.wait')");
            $('#categoryPriceRange').load("$!action.url('categorypricerange','admin')", data);
        });
        $(".progressbar").progressbar({ value: 0 });
        executeUpdProductPrices();
    });

    // actualizar el progreso
    var threadId = "job$!{storeCode}updcatprod$!{category.idCategory}";
    function executeUpdProductPrices() {
        jQuery.getJSON("$action.url('threadexecutestate','admin')", {threadName:threadId}, function(data) {
            if (data.result == 'error') {
                $('#jobproductsState').hide();
                $('#btnUpdProductPrices').show();
            } else {
                $('#jobproductsState').show();
                if (data.msg == 'FINISHED') {
                    $('#taskproductsMsg').html("<h3>#stext('name=admin.task.complete')</h3>");
                    $('#taskproductsPercent').hide();
                    $('#btnUpdProductPrices').show();
                } else {
                    if (data.percent != null) {
                        $('#taskproductsMsg').html(data.percent + '%: ' + data.msg);
                        $('#taskproductsPercent').progressbar('option', 'value', data.percent).show();
                    }
                    setTimeout(executeUpdProductPrices, 1000);
                }
            }
        });
    }
    $('#btnUpdProductPrices').click(function(){
        $('#btnUpdProductPrices').hide();
        jQuery.getJSON("$!action.url('categoryupdateproducts','admin')", {idCategory:$!category.idCategory}, function(data) {
            if (data.result == 'ok') {
                executeUpdProductPrices();
            }
            else alert(data.msg);
        });
    });

</script>