#set($menuSelected='catalog')
#parse('/WEB-INF/views/admin/page_top.vm')
<h1>
    #if ($currency.id)
        #label('admin.currency.modify') $currency.id
    #else
        #label('admin.currency.configure.new')
    #end
</h1>
#surl('id=urlForm' "action=savecurrency")
<form action="$urlForm" method="post" class="validable">
<div class="formulario">
    <input type="hidden" name="idCurrency" value="$!currency.id">
    #formErrors('Errors in data')
    <table class="formulario" cellspacing="0" cellpadding="0">
        <tr>
            <th class="required">#label('admin.code')</th>
            <td>
                #stextfield('name=currency.code' 'cssClass=field required string-short')
            </td>
        </tr>
        <tr>
            <th class="required">#label('admin.symbol')</th>
            <td>
                #stextfield('name=currency.symbol' 'cssClass=field required string-short')
            </td>
        </tr>
        <tr>
            <th class="required">#label('admin.ratio')</th>
            <td>
                #stextfield('name=currency.ratio' "value=$!util.formatNumber($currency.ratio, 'decimal4')" 'cssClass=field required decimal')
            </td>
        </tr>
        <tr>
            <th class="required">#label('admin.reverse.ratio')</th>
            <td>
                #stextfield('name=currency.reverseRatio' "value=$!util.formatNumber($currency.reverseRatio, 'decimal4')" 'cssClass=field required decimal')
            </td>
        </tr>
        <tr>
            <th class="required">#label('admin.active')</th>
            <td>
                #scheckbox('name=currency.active')
            </td>
        </tr>
        #if ($currency.lastUpdate)
            <tr>
                <th>#label('admin.last.update'):</th>
                <td>
                    <input type="text" readonly="readonly" value="$!util.format('yyyy-MM-dd HH:mm',$currency.lastUpdate)" class="field readonly string-short"/>

                </td>
            </tr>
        #end
    </table>
    <div class="button-bar">
        <button type="submit"><span class="ok">#label('admin.save')</span></button>
        #surl('id=urlCancel' "action=listcurrency" )
        <button type="button" href="$urlCancel"><span class="cancel">#label('admin.cancel')</span></button>
    </div>
</div>
</form>
#parse('/WEB-INF/views/admin/page_bot.vm')