<h2 class="block-title">#label('admin.purchases')</h2>
#set($index = 0)
#foreach($pEntry in $purchases.entrySet())
<form action="$!action.url('createpurchase')" method="post">
    <input type="hidden" name="idProvider" value="$!pEntry.key.idProvider"/>

    <h3>$!pEntry.key.providerName</h3>
    <table class="grid" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th>&nbsp;</th>
            <th>#label('admin.part.number')</th>
            <th>#label('admin.name')</th>
            <th style="text-align: center;">#label('admin.quantity')</th>
            <th style="text-align: center;">#label('admin.needed')</th>
            <th style="text-align: center;">#label('admin.requested')</th>
            <th style="text-align: center;">#label('admin.to.request')</th>
        </tr>
        #foreach($odp in $!pEntry.value)
            <tr>
                <td><input type="checkbox" name="idProduct" id="sp${index}" class="sel-purchase" #if($!odp.getProperty('toRequest')>0) checked="checked" #end value="$!odp.product.idProduct"/></td>
                <td>$!odp.product.partNumber</td>
                <td>$!odp.product.getProductName($defaultLanguage)</td>
                <td style="text-align: center;">$!odp.orderDetail.quantity</td>
                <td style="text-align: center;">$!math.sub(0, $odp.product.stock)</td>
                <td style="text-align: center;">$!odp.getProperty('requestedPending')</td>
                <td style="text-align: center;"><input style="float: none;" id="fld_sp${index}" type="text" name="quantity" value="$!odp.getProperty('toRequest')" class="field integer"/></td>
            </tr>
            #set($index = $math.add($index,1))
        #end
    </table>
    <div class="button-bar">
        <button type="submit"><span>#label('admin.create.purchase')</span></button>
    </div>
</form>
#end