#set($menuSelected='orders')
#parse('/WEB-INF/views/admin/page_top.vm')
<h1>#label('admin.rma.type.list')</h1>
<div class="listado">
    #surl('id=urlForm' "action=listrmatype")
    <form action="$urlForm" method="post">
    #formErrors()
    #if($util.isNotEmpty($rmatypelist))
    <table class="listado" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <th style="text-align:center;width:1%;"><a href="#" onclick="$(this).toggleClass('selected');$('.selecteds').attr('checked',$(this).hasClass('selected'));return false;"><img src="/struts/css/images/bin_closed.png" alt="Del" style="border:0"/></a></th>
            <th>#label('admin.name')</th>
            <th style="text-align:center;">#label('admin.days.limit')</th>
            <th>&nbsp;</th>
        </tr>
        #foreach($r in $rmatypelist)
            #surl('id=urlEdit' "action=editrmatype" "idRmaType=$!r.id")
            <tr>
                <td style="text-align:center;"><input type="checkbox" class="selecteds" name="selecteds" value="$!r.id"/></td>
                <td>$!r.getName($defaultLanguage)</td>
                <td style="text-align:center;">$!r.maxDays</td>
                <td class="link-bar"><a href="$urlEdit"><span class="edit">#label('admin.modify')</span></a></td>
            </tr>
        #end
    </table>
    #else
        <div class="info">
            <h2>#label('admin.rma.type.list')</h2>
            <p>#label('admin.rma.type.list.not.found')</p>
        </div>
    #end
    <div class="button-bar">
        <button type="submit"><span class="del">#label('admin.remove.selected')</span></button>
        #surl('id=urlNew' "action=editrmatype")
        <button type="button" href="$urlNew"><span class="add">#label('admin.rma.type.new')</span></button>
    </div>
</form>
</div>
#parse('/WEB-INF/views/admin/page_bot.vm')
