<div class="dialog-header">
    <h2>#label('admin.statictext.list')</h2>
    <h4>#label('admin.statictext.list.instructions')</h4>
</div>
<form id="form_statictext">
    <div class="dialog-data" style="height:300px;" id="treeatt">
        #if($staticTextMap && $staticTextMap.keySet().size()>0)
            <ul>
                #foreach($key in $staticTextMap.keySet())
                    #set($listaST = $staticTextMap.get($key))
                    <li>
                        $!key
                        <ul>
                            #foreach($s in $listaST)
                            <li id="$!s.id">$!s.code</li>
                            #end
                        </ul>
                    </li>
                #end
            </ul>
        #else
            <div class="info">
                <h2>#label('admin.statictext.list')</h2>

                <p>#label('admin.statictext.list.not.found')</p>
            </div>
        #end
    </div>
</form>
<div class="button-bar">
    <button id="dialogBtnOk" type="button"><span class="ok">#label('admin.save')</span></button>
    <button type="button" onclick="$('#dialogo').dialog('close');"><span class="cancel">#label('admin.close')</span></button>
</div>
<script type="text/javascript">
    $(function() {$('#treeatt').dynatree({checkbox: true,selectMode:3});});
    function modalStaticText_getSelectedNodes() {
        return $('#treeatt').dynatree("getTree").getSelectedNodes(false);
    }
    function modalStaticText_getSelectedIds() {
        var selectedNodes = modalStaticText_getSelectedNodes();
        return (selectedNodes != null) ? jQuery.map(selectedNodes, function(node) {return (node.getLevel() > 0) ? node.data.key : null;}) : null;
    }
    function modalStaticText_selectId(id) {
        $('#treeatt').dynatree("getTree").selectKey(id);
    }
    function modalStaticText_serialize(fName) {
        var res = '';
        var selected = modalStaticText_getSelectedIds();
        jQuery.each(selected, function() {
            if (/^-?\d+$/.test(this)) {
                if (res != '') res += '&';
                res += fName + '=' + this
            }
        });
        return res;
    }
</script>