<div class="name">$!{productLang.productName}</div>
<div class="manufacturer">$!{product.manufacturer.manufacturerName}</div>

<div class="code">$!{product.partNumber}</div>
#if($action.canShowStock)
<div class="stock">
    #if($product.stock>0)
        #label('on.stock')
    #else
        #if($util.isNotEmpty($product.eta))
            #label('backorder.until') $!product.eta
        #else
            #label('out.of.stock')
            <span class="stock-alert">
                #if($frontUser)
                    #if($frontUser.hasPreference('STOCK_ALERT',"$!product.idProduct"))
                        <span id="stockAlertAdded" class="action">#label('stock.alert.added')</span>
                    #else
                        <span id="stockAlertAdded" class="action" style="display:none;">#label('stock.alert.added')</span>
                            <span id="stockAlertLoading" style="display:none;" class="action">#label('loading')</span>
                            <span id="stockAlertLink" class="action">#linklabel('add.stock.alert' '#' 'addtostockalert')</span>
                    #end
                #end
            </span>
        #end
    #end
</div>
#end
<div class="description">$!{productLang.description}</div>