<div class="menu-horizontal">
    <ul class="clearfix">
        #foreach($mIt in $treemenu.children() )
            #set( $m = $mIt.userObject )
            <li class="$!m.cssClass hoverable #if($action.isMenuActive($m)) selected #end">
                <a href="$!m.url" >$!m.getLabel($locale.language)</a>
                #set( $m = $mIt.userObject )
                #if($mIt.children().hasMoreElements())
                    <div class="submenu-horizontal" >
                        <ul class="unique">
                            #foreach($sIt in $mIt.children())
                                #set( $s = $sIt.userObject )
                                <li class="hoverable">
                                    <a href="$!s.url">$!s.getLabel($locale.language)</a>
                                </li>
                            #end
                        </ul>
                    </div>
                #end
                #if($m.menuContent)
                    <div class="submenu-horizontal clearfix" >
                        $!m.menuContent.getLanguage($locale.language,$defaultLanguage).value
                    </div>
                #end
                #if($m.showSubcategories)
                    #set($subcats = $action.getSubCategories($m.linkCategory, true))
                    #if($subcats && $subcats.size()>0)
                        <div class="submenu-horizontal clearfix">
                            #if ($subcats && $subcats.size()>12)
                                <div class="multicolumn">
                                    #set( $rowsCat = $util.getRows($subcats, $math.ceil($math.div($subcats.size(),2))))
                                    #foreach($row in $rowsCat)
                                        <ul class="#if($velocityCount<1) first #end ">
                                            #foreach($subcat in $row)
                                                #if($subcat!='')
                                                    <li class="hoverable"><a href="$!action.urlCategory($subcat)">$!subcat.name</a></li>
                                                #end
                                            #end
                                        </ul>
                                    #end
                                </div>
                            #else
                                <ul class="unique">
                                    #foreach($subcat in $subcats)
                                        <li class="hoverable"><a href="$!action.urlCategory($subcat)">$!subcat.name</a></li>
                                    #end
                                </ul>
                            #end
                        </div>
                    #end
                #end

            </li>
        #end
    </ul>
</div>