<title>$!pageTitle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="title" content="$!pageTitle">
<meta name="abstract" content="$!metaAbstract">
<meta NAME="description" content="$!metaDescription">
<meta NAME="keywords" content="$!metaKeywords">
<meta NAME="revisit-after" content="1 days">
<meta NAME="robots" content="FOLLOW,INDEX">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="icon" type="image/ico" rel="SHORTCUT ICON" href="/templates/$!{template}/skins/${skin}/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/struts/css/front.css?v=1.0"/>
<link rel="stylesheet" type="text/css" href="/templates/$!{template}/skins/${skin}/css/site.css?version=$!{css_version}" id="linkCssSite"/>
<link rel="stylesheet" type="text/css" href="/struts/css/clear.css"/>
<script type="text/javascript" src="/struts/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/struts/js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="/struts/js/jquery.ui.autocomplete.html.js"></script>
<script type="text/javascript" src="/struts/js/jquery.ui.stars.min.js"></script>
<script type="text/javascript" src="/struts/js/jquery.lightbox.js"></script>
<script type="text/javascript" src="/struts/js/jquery.ck.js"></script>
<script type="text/javascript" src="/struts/js/jquery.mymenu.js"></script>
<script type="text/javascript" src="/struts/js/jquery.rcslider.min.js"></script>
<script type="text/javascript" src="/struts/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/struts/js/jquery.swfobject.1-1-1.min.js"></script>
#if($action.adminUser)
<script type="text/javascript" src="/struts/js/ckeditor/ckeditor.js" charset="UTF-8"></script>
<script type="text/javascript" src="/struts/js/ckeditor/adapters/jquery.js" charset="UTF-8"></script>
#end
<script type="text/javascript">
    var params = {
        urlBase: "$!util.siteUrl",
        language: "$!locale.language",
        urls: {
            reg_newsletter: "$!action.url('registernewsletter')",
            add_cart: "$!action.url('addtocart')",
            label_edit: "$!action.url('staticlabeledit','admin')",
            block_edit: "$!action.url('blockedit')",
            country_states: "$!action.url('countrystates')",
            country_states_ex: "$!action.url('countrystatesex')",
            menu_subcategories: "$!action.url('menuSubcategories')",
            compare_product:"$!action.url('compareAdd')",
            compare_remove:"$!action.url('compareDel')"
        },
        errors: {
            required:"$!action.getText('error.empty.field')",
            integer:"$!action.getText('error.invalid.integer')",
            email:"$!action.getText('error.invalid.email')",
            decimal:"$!action.getText('error.invalid.decimal')",
            gt:"$!action.getText('error.invalid.gt')",
            lt:"$!action.getText('error.invalid.lt')"
        },
        texts: {
            loading:"$!action.getText('loading','Loading')",
            please_wait:"$!action.getText('please.wait','Please wait...')"
        }
    };
</script>
<script type="text/javascript" src="/struts/js/site.js" charset="UTF-8"></script>
#parse("/WEB-INF/views/front/head_custom.vm")
<script src='https://www.google.com/recaptcha/api.js'></script>
#parse("/WEB-INF/views/front/head_google_analytics.vm")
