#set($parameters = $util.toMap($_parameters))
#if($cat)
#set($opened = ($categoryHierarchyId && $util.contains($categoryHierarchyId, $cat.idCategory)))
#if($openThisCat) #set($open_first = true) #set($openThisCat = false) #else #set($open_first = false) #end

<li class="clearfix hoverable level$!{cat.level}">
    <a href="$action.urlCategory($cat)" class="category-link level$!{cat.level} #if($cat.idCategory==$category.idCategory) selected #end">
       <span>$!cat.name #if($numProducts.get($cat.idCategory))</span>
       <span class="num-products">($numProducts.get($cat.idCategory))#end</span>
    </a>
    #if($cat.children && !$cat.children.isEmpty())
        <ul class="clearfix level$!{cat.level} #if($opened) expanded #end #if($open_first) expanded-first  #end">
            #foreach($cat in $cat.children)
                #control('category_tree')
            #end
        </ul>
    #end
</li>
#end
#set($parameters = $util.null)