<template>
    <name>Peonline</name>
    <banner code="home-top" number="1" width="986"/>
    <banner code="right-column" number="2" />
    <banner code="category-top" number="1" />
    <block code="home.top" />
    <block code="home.bottom" />
    <block code="bottom.bar" />
    <block code="category.bottom" />
    <block code="confirm.order.top" />
    <block code="order.approved.text" />
    <block code="order.rejected.text" />
    <block code="order.pending.text" />
    <block code="top.banner" />
    <block code="bottom.contact.us" />
    <block code="listing.bottom" />
    <block code="product.middle" />
</template>