<div class="addtocart clearfix">
    #set($maxCant = $math.sub($product.getMaxToBuy($frontUser), $userSession.getNumProduct($product.idProduct)))
    #if($maxCant>0)
        <form id="formBuy" action="$!action.url('addtocart','')" method="post" class="validable">
            <input type="hidden" name="idProduct" value="$!product.idProduct"/>
            #if($product.dateSelection=='Y')
                <div class="dateselection">
                    #label('date')
                    <input type="text" value="" class="field date required" readonly="readonly"/>
                    <input type="hidden" id="selDate" name="selDate" value=""/>
                    <span class="field_error"></span>
                </div>
            #end
            #if($util.isNotEmpty($productVariations))
                <div class="variation">
                    #label('select')
                    <select name="variation" class="field string-200">
                        #foreach($v in $productVariations)
                            #set( $priceInc = $!action.formatActualCurrency($priceMap.get("VARIATION_INC_${v.id}")) )
                            #if($priceMap.containsKey("VARIATION_INC_${v.id}"))
                                #set($addOpt = "(+ $!priceInc)")
                            #else
                                #set($addOpt = '')
                            #end
                            <option value="$v.id">$!v.fullOption $!addOpt</option>
                        #end
                    </select>
                </div>
            #end
            <div class="quantity">
                #label('quantity')
                <input type="text" name="quantity" value="1" class="field required integer string-50" maxValue="$!maxCant"/>
                <span class="field_error"></span>
            </div>
            <div class="button">
                <input type="image" src="$!action.skinFile('images/[lang]/add_cart_button.png')" value="Add To Cart"/>
            </div>
        </form>
    #end
    #if($product.productType.equalsIgnoreCase('digital'))
        <div class="product-digital-msg"><span class="icon"></span>#label('product.detail.digital.message')</div>
    #end
</div>