#set($pName = "$!p.getProductName($locale.language)")
#set($pDesc = "$!p.getLanguage($locale.language,$defaultLanguage).description")
#set($image = "$imageResolver.getImageForProduct($p,'')")
#set( $urlDetail = $action.urlProduct($p) )
#set( $price = $action.toActualCurrency($p.getFinalPrice($frontUserLevel,1)) )

<div class="product clearfix">
    #if($util.isNotEmpty($image))
        <div class="image"><a href="$urlDetail"><img src="$!action.storeFile('images/products')/$!util.encodeUrl($image)" alt="$!pName" /></a></div>
    #else
        <div class="image"><a href="$urlDetail"><img src="$!action.skinFile('images/[lang]/not-available.gif')" /></a></div>
    #end
    <div class="right-col">
        <div class="code"><a href="$urlDetail">#label('part.number') $!p.partNumber</a></div>
        <div class="name"><a href="$urlDetail">$!pName</a></div>
        <div class="desc"><a href="$urlDetail">$!util.left($pDesc,120)</a></div>
        #if($action.getStoreProperty('show.product.reviews.list','Y')=='Y')
        <div class="rating clearfix">
            #if($!p.reviews>0)
                #control('review_stars_small' $!p.ratingBy)
                <div> $!p.reviews #label('reviews')</div>
            #else
                <div>#label('no.reviews')</div>
            #end
        </div>
        #end
        #if($action.canShowPrices)
            <div>
                <div class="price" style="">$!action.formatActualCurrency($price)</div>
                #addToCart($p)
            </div>
        #end
        <div class="link"><a href="$urlDetail">#label('view.details')</a></div>
    </div>
</div>

