<!DOCTYPE html>
<html>
<head>
    #parse('/WEB-INF/views/front/head.vm')
</head>
<body>
    #compressHtml()
    $!util.debug('body-start')
    $!extraTopContent
    <div id="pageContent" class="$!locale.language">
        #parse('/WEB-INF/views/front/top.vm')
        #if($util.isNotEmpty($contentPage))<div>#parse($contentPage)</div>#end
        #parse('/WEB-INF/views/front/bottom.vm')
    </div>
    <div id="dialogo"><div id="dialogContent"></div></div>
    $!extraBottomContent
    #end
</body>
</html>